<div data-role="page" id="flightCalendar" >
    
  <div data-role="header" class="header">
    <div id="calendar"><a href="#flightIndex" class="cancelBtn" data-rel="back">Back</a></div>
    <div id="midHeader">
      <h2 id="tfthead">
          <span id="originToDest"></span>
          <span id="destToOrgin" class="hidden"></span>
      </h2>
    </div>
    <div id="crumb"><a href="#flightIndex" id="setDates" class="doneBtn" data-transition="slidedown">Done</a></div>
  </div>
  
  <div data-role="content"> 
    <div id="drWrap">
      <ul id="dr" class="reset">
        <li>
          <div class="tapable schedtaps left" id="dd">
            <h4>Depart</h4>
            <div class="left fullwidth">
              <div id="departDetails" class="hidden"></div>

                <div id="dpDate_c" class="halfi left">
                  <div class='dpWD'><%#= Date.today.strftime("%A")%></div>
                  <div class='dpMN'><%#= Date.today.strftime("%b")%></div>
                </div>
                <div id="dpDay_c" class="halfi left"><%#= Date.today.strftime("%d")%></div>
                <div id="dpSource_c" class="hidden"><%#= Date.today.strftime("%m/%d/%Y") %></div>

            </div>
          </div>
        </li>
        <li>
          <div class="schedtaps left" id="rd">
            <h4>Return</h4>
            <div class="left fullwidth">
              <div id="returnDetails" class="hidden"></div>

                <div id="rpDate_c" class="halfi left">
                  <div class='dpWD rpWeek'><%#= Date.today.strftime("%A")%></div>
                  <div class='dpMN rpMonth'><%#= Date.today.strftime("%b")%></div>
                </div>
                <div id="rpDay_c" class="halfi left"><%#= (Date.today + 1).strftime("%d")%></div>
                <div id="rpSource_c" class="hidden"><%#= (Date.today + 1).strftime("%m/%d/%Y") %></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="dps" class="left fullwidth">
      <div id="datepickerD">
      </div>
      <div id="datepickerR" class="hidden">
      </div>
    </div>
  </div>
  
  <div data-role="footer" class="footer">
    <%= render "footer" %>
  </div>
  
</div>