<nav>
  <ul>
    <li class="withGap"><a href="http://jetstar.com.au" class="gray">Regular Site</a></li>
    <li class="withGap"><a href="#" class="gray">Privacy &amp; Security</a></li>
    <li><a href="#" class="gray">Help</a></li>
  </ul>
</nav>
<div id="copyright">
  &copy; 2011 Jetstar Airways Pty Ltd. ABN <span class="normalText">337&nbsp;069&nbsp;720 &nbsp;43</span>
</div>
