<div data-role="page" id="flightSearch">
  <div data-role="header" class="header">
    <div id="findFlights">      
       <span id="searchFieldGroup">
        <strong><span id="search_mode"></span></strong>
         <%= text_field_tag "from", "", :id => "search_from", :class => "searchField", :placeholder => "Type a city or Airport Code" %>
         <span id="clearSearch"><span class="hidden">Clear Search</span></span>
       </span>
       <%= form_tag(flight_index_path, :method => :post, :id => "flightForm") do %>
         <%= hidden_field_tag "from", "", :id => "search_from_hidden" %>
       <%- end -%>
       <a href="#flightIndex" class="doneBtn" data-direction="reverse">Done</a>
     </div>
  </div>
  
  <div data-role="content"> 
    <div id="searchPage" class="contentWrap left">
      <div id="geolocation" class="left">
        <div id="geoLocWrap" class="left fullwidth">
          <span class="boxLeft left"></span>
          <span id="geolocationTxt" class="left">
            <span id="plane" class="left"></span>
            <span id="geolocationHeader">Show nearest departure airports</span>
            <span id="pen" class="right"></span>
          </span>
          <span class="boxRight right"></span>
        </div>
      </div>
      <%- if session[:origin].blank? %>
        <div id="airportLst" class="searchResults left fullwidth">
          <span id="searchHeader">Search airports via City or Airport Code</span>
        </div>
      <%- else -%>
        <div id="airportLst" class="searchResults left fullwidth">
          <span id="searchHeader">Search airports via City or Airport Code</span>
        </div>
      <%- end -%>
    </div>
  </div>
  
  <div data-role="footer" class="footer">
    <%= render "footer" %>
  </div>
</div>